.u-section-1 {
  background-image: url("images/yellowbg.PNG");
}

.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 105px;
  background-image: none;
  margin: 130px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 596px;
  margin: -169px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 64px;
  height: 64px;
  margin: 24px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-shape-1 {
    height: 50px;
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -91px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 26px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 4269px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 4148px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 315px;
  object-position: 50% 61.86%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 101px;
  background-image: none;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 315px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 315px;
  object-position: 0% 37.38%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 315px;
  object-position: 0% 37.38%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 315px;
  object-position: 50% 37.79%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-5 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 315px;
  object-position: 50% 9.9%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-6 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: 315px;
  object-position: 50% 47.28%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-7 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: 315px;
  object-position: 50% 7.5%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-8 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-16 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-15 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  height: 315px;
  object-position: 50% 0%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-9 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-18 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-17 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  height: 315px;
  object-position: 50% 19.53%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-10 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-19 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-image-11 {
  height: 315px;
  object-position: 50% 8.22%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-11 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-22 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-21 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-image-12 {
  height: 315px;
  object-position: 50% 39.54%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-12 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-24 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-23 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-24 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-25 {
  padding: 30px;
}

.u-section-2 .u-image-13 {
  height: 315px;
  object-position: 50% 23.58%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-13 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-26 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-25 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-26 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-27 {
  padding: 30px;
}

.u-section-2 .u-image-14 {
  height: 315px;
  object-position: 50% 0%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-14 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-28 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-27 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-28 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-29 {
  padding: 30px;
}

.u-section-2 .u-image-15 {
  height: 315px;
  object-position: 50% 50%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-15 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-30 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-29 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-30 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-31 {
  padding: 30px;
}

.u-section-2 .u-image-16 {
  height: 315px;
  object-position: 50% 50%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-group-16 {
  min-height: 101px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-32 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-31 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-32 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6836px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 3420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    object-position: 50% 50%;
    height: 323px;
  }

  .u-section-2 .u-group-1 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-2 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-3 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-5 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-3 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-5 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 20px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-5 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-9 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-11 {
    padding: 20px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-6 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-11 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-13 {
    padding: 20px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-7 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-13 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-15 {
    padding: 20px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-8 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-15 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-17 {
    padding: 20px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-9 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-17 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-19 {
    padding: 20px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-10 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-19 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-21 {
    padding: 20px;
  }

  .u-section-2 .u-image-11 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-11 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-21 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-23 {
    padding: 20px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-12 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-23 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-25 {
    padding: 20px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-13 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-25 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-27 {
    padding: 20px;
  }

  .u-section-2 .u-image-14 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-14 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-27 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-29 {
    padding: 20px;
  }

  .u-section-2 .u-image-15 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-15 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-30 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-29 {
    width: 189px;
  }

  .u-section-2 .u-container-layout-31 {
    padding: 20px;
  }

  .u-section-2 .u-image-16 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-2 .u-group-16 {
    min-height: 444px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-32 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-31 {
    width: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 12451px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 34px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 359px;
  }

  .u-section-2 .u-group-1 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 359px;
  }

  .u-section-2 .u-group-2 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-image-3 {
    height: 359px;
  }

  .u-section-2 .u-group-3 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 359px;
  }

  .u-section-2 .u-group-3 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 359px;
  }

  .u-section-2 .u-group-5 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 359px;
  }

  .u-section-2 .u-group-6 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 359px;
  }

  .u-section-2 .u-group-7 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }

  .u-section-2 .u-image-8 {
    height: 359px;
  }

  .u-section-2 .u-group-8 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
  }

  .u-section-2 .u-image-9 {
    height: 359px;
  }

  .u-section-2 .u-group-9 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
  }

  .u-section-2 .u-image-10 {
    height: 359px;
  }

  .u-section-2 .u-group-10 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
  }

  .u-section-2 .u-image-11 {
    height: 359px;
  }

  .u-section-2 .u-group-11 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
  }

  .u-section-2 .u-image-12 {
    height: 359px;
  }

  .u-section-2 .u-group-12 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
  }

  .u-section-2 .u-image-13 {
    height: 359px;
    object-position: 50% 29.59%;
  }

  .u-section-2 .u-group-13 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
  }

  .u-section-2 .u-image-14 {
    height: 359px;
  }

  .u-section-2 .u-group-14 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
  }

  .u-section-2 .u-image-15 {
    height: 359px;
  }

  .u-section-2 .u-group-15 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
  }

  .u-section-2 .u-image-16 {
    height: 359px;
  }

  .u-section-2 .u-group-16 {
    min-height: 356px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-32 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 12417px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-bottom: 59px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 269px;
  }

  .u-section-2 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 269px;
  }

  .u-section-2 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
  }

  .u-section-2 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
  }

  .u-section-2 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 269px;
  }

  .u-section-2 .u-group-5 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 269px;
  }

  .u-section-2 .u-group-6 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 269px;
  }

  .u-section-2 .u-group-7 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 269px;
  }

  .u-section-2 .u-group-8 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 269px;
  }

  .u-section-2 .u-group-9 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 269px;
  }

  .u-section-2 .u-group-10 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-11 {
    height: 269px;
  }

  .u-section-2 .u-group-11 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-12 {
    height: 269px;
  }

  .u-section-2 .u-group-12 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-13 {
    height: 269px;
  }

  .u-section-2 .u-group-13 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-14 {
    height: 269px;
  }

  .u-section-2 .u-group-14 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-15 {
    height: 269px;
  }

  .u-section-2 .u-group-15 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-16 {
    height: 269px;
  }

  .u-section-2 .u-group-16 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 12497px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
  }

  .u-section-2 .u-group-1 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
  }

  .u-section-2 .u-group-2 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
  }

  .u-section-2 .u-group-3 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
  }

  .u-section-2 .u-group-3 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 169px;
  }

  .u-section-2 .u-group-5 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 169px;
  }

  .u-section-2 .u-group-6 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 169px;
  }

  .u-section-2 .u-group-7 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 169px;
  }

  .u-section-2 .u-group-8 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 169px;
  }

  .u-section-2 .u-group-9 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 169px;
  }

  .u-section-2 .u-group-10 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-11 {
    height: 169px;
  }

  .u-section-2 .u-group-11 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-12 {
    height: 169px;
  }

  .u-section-2 .u-group-12 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-13 {
    height: 169px;
  }

  .u-section-2 .u-group-13 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-14 {
    height: 169px;
  }

  .u-section-2 .u-group-14 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-29 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-15 {
    height: 169px;
  }

  .u-section-2 .u-group-15 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-2 .u-container-layout-31 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-16 {
    height: 169px;
  }

  .u-section-2 .u-group-16 {
    min-height: 229px;
    margin-top: -49px;
  }
}.u-section-3 {
  background-image: url("images/yellowbg.PNG");
}

.u-section-3 .u-sheet-1 {
  min-height: 429px;
}

.u-section-3 .u-shape-1 {
  width: 570px;
  height: 105px;
  background-image: none;
  margin: 130px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 583px;
  margin: -171px auto 0;
}

.u-section-3 .u-rotation-parent-1 {
  width: 64px;
  height: 64px;
  margin: 26px auto 60px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3 .u-text-1 {
    width: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-shape-1 {
    height: 50px;
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -91px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3079px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 1554px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 315px;
  object-position: 50% 61.86%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  min-height: 101px;
  background-image: none;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 315px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-2 {
  min-height: 101px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 315px;
  object-position: 0% 14.27%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-3 {
  min-height: 101px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 315px;
  object-position: 0% 14.27%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-3 {
  min-height: 101px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  height: 315px;
  object-position: 50% 27.68%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-5 {
  min-height: 101px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  height: 315px;
  object-position: 50% 50.35%;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-4 .u-group-6 {
  min-height: 101px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-4 .u-list-2 {
  grid-template-rows: auto auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 1413px;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-7 {
  min-height: 101px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-14 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-13 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-8 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-16 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-15 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-16 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-9 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-18 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-17 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-19 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-10 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-19 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-20 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-21 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-11 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-22 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-21 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-22 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-23 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-12 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-24 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-23 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-24 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-25 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-13 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-26 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-25 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-26 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-27 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-14 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-28 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-27 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-28 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-29 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-15 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-30 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-29 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-30 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-31 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-16 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-32 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-31 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-32 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-33 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-17 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-34 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-33 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-34 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-35 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-18 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-36 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-35 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-36 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-37 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-19 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-38 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-37 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-38 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-39 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-20 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-40 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-39 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-40 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-41 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-21 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-42 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-41 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-42 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-43 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-22 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-44 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-43 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-44 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

.u-section-4 .u-container-layout-45 {
  padding: 30px 30px 13px;
}

.u-section-4 .u-group-23 {
  min-height: 101px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-46 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-45 {
  text-transform: uppercase;
  width: 190px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-46 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 1281px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    object-position: 50% 50%;
    height: 323px;
  }

  .u-section-4 .u-group-1 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    width: 189px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-4 .u-group-2 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-3 {
    width: 189px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-4 .u-group-3 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-5 {
    width: 189px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-4 .u-group-3 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-5 {
    width: 189px;
  }

  .u-section-4 .u-container-layout-9 {
    padding: 20px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-4 .u-group-5 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-9 {
    width: 189px;
  }

  .u-section-4 .u-container-layout-11 {
    padding: 20px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 0;
    height: 323px;
  }

  .u-section-4 .u-group-6 {
    min-height: 444px;
    margin-top: 33px;
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-11 {
    width: 189px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1165px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 285px;
    height: auto;
  }

  .u-section-4 .u-group-8 {
    height: auto;
  }

  .u-section-4 .u-group-9 {
    height: auto;
  }

  .u-section-4 .u-group-10 {
    height: auto;
  }

  .u-section-4 .u-group-11 {
    height: auto;
  }

  .u-section-4 .u-group-12 {
    height: auto;
  }

  .u-section-4 .u-group-13 {
    height: auto;
  }

  .u-section-4 .u-group-14 {
    height: auto;
  }

  .u-section-4 .u-group-15 {
    height: auto;
  }

  .u-section-4 .u-group-16 {
    height: auto;
  }

  .u-section-4 .u-group-17 {
    height: auto;
  }

  .u-section-4 .u-group-18 {
    height: auto;
  }

  .u-section-4 .u-group-19 {
    height: auto;
  }

  .u-section-4 .u-group-20 {
    height: auto;
  }

  .u-section-4 .u-group-21 {
    height: auto;
  }

  .u-section-4 .u-group-22 {
    height: auto;
  }

  .u-section-4 .u-group-23 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 359px;
  }

  .u-section-4 .u-group-1 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 359px;
  }

  .u-section-4 .u-group-2 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 359px;
  }

  .u-section-4 .u-group-3 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 359px;
  }

  .u-section-4 .u-group-3 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-image-5 {
    height: 359px;
  }

  .u-section-4 .u-group-5 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
  }

  .u-section-4 .u-image-6 {
    height: 359px;
  }

  .u-section-4 .u-group-6 {
    min-height: 356px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-7 {
    margin-top: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 269px;
  }

  .u-section-4 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 269px;
  }

  .u-section-4 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 269px;
  }

  .u-section-4 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 269px;
  }

  .u-section-4 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 269px;
  }

  .u-section-4 .u-group-5 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 269px;
  }

  .u-section-4 .u-group-6 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 353px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-36 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-37 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-39 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-40 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-41 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-42 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-43 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-44 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-45 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-46 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
  }

  .u-section-4 .u-group-1 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }

  .u-section-4 .u-group-2 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
  }

  .u-section-4 .u-group-3 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
  }

  .u-section-4 .u-group-3 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 169px;
  }

  .u-section-4 .u-group-5 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 169px;
  }

  .u-section-4 .u-group-6 {
    min-height: 229px;
    margin-top: -49px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 230px;
  }
}